NEXT_PUBLIC_CANDY_MAP_API_URL=http://localhost:8000

# Optional: override default OpenStreetMap style
# NEXT_PUBLIC_PROTOMAPS_STYLE_URL=https://api.protomaps.com/styles/v2/light.json

# Optional: configure PMTiles dataset for Protomaps styles
# NEXT_PUBLIC_PROTOMAPS_PMTILES_URL=https://api.protomaps.com/tiles/v3/planet/20240811.pmtiles
# NEXT_PUBLIC_PROTOMAPS_API_KEY=your_protomaps_api_key

